@import url("https://fonts.googleapis.com/css2?family=Karma:wght@300&family=Mochiy+Pop+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Odor+Mean+Chey:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap");

:root {
    --primary-color: #6b6b6b;
    --secondary-color: #eee;
    --bg-color: #d3ebf0;
}

body {
    font-family: Karma;
    background-color: var(--secondary-color);
    color: black;
    font-size: 1.4rem;
    max-height: 100vh;
}

.bordering {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
}

h1,
h2 {
    font-family: "Odor Mean Chey", "sans-serif";
    color: var(--primary-color);
    font-weight: bold;
}

.text-input {
    background-color: var(--secondary-color);
    border: none;
}

.text-input:focus {
    background-color: var(--secondary-color);
}

.btn-perso {
    /*font-family: "Quicksand", sans-serif;*/
    font-family: "KoHo", sans-serif;
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.btn-perso:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: white;
    margin-bottom: 13px;
}

.progress-bar {
    background-color: var(--primary-color);
    height: 10px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.timer {
    margin-left: auto;
    margin-right: auto;
    font-family: "Quicksand", sans-serif;
    background-color: var(--primary-color);
    border-radius: 15px;
    width: 4rem;
    text-align: center;
    color: white;
    padding: 5px;
}

.footers {
    font-family: "KoHo", sans-serif;
    overflow-x: hidden;
    position: fixed;
    bottom: 0;
    text-align: center;
}
