@import url("https://fonts.googleapis.com/css2?family=Karma:wght@300&family=Mochiy+Pop+One&display=swap");

:root {
    --primary-color: #4a3aac;
    --secondary-color: #eee;
    --bg-color: #d3ebf0;
}

body {
    font-family: Karma;
    background-color: var(--secondary-color);
    color: black;
}

.bordering {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
}

h1,
h2 {
    font-family: "Mochiy Pop One", "sans-serif";
    color: var(--primary-color);
}

.text-input {
    background-color: var(--secondary-color);
    border: none;
}

.text-input:focus {
    background-color: var(--secondary-color);
}

.btn-perso {
    font-family: "Mochiy Pop One", "sans-serif";
    background-color: #4a3aac;
    color: white;
    font-size: 1rem;
    margin-bottom: 15px;
}

.btn-perso:hover {
    border: 2px solid var(--primary-color);
    color: #4a3aac;
    background-color: white;
    margin-bottom: 13px;
}
